In [722]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

schools_path = os.path.join("Resources" , "schools_complete.csv")
students_path = os.path.join ("Resources", "students_complete.csv")

schools_data = pd.read_csv(schools_path)
students_data = pd.read_csv(students_path)

data_complete = pd.merge(students_data, schools_data, 
                how="left", 
                on=["school_name", "school_name"])\
                .rename(columns=lambda s:s.lower().replace(" ", "_"))  
data_complete.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [723]:
total_schools = len(data_complete["school_name"].unique())
total_students = len(data_complete["student_id"].unique())
district_budget = data_complete.drop_duplicates('school_name')['budget'].sum()

math_average = round(data_complete["math_score"].mean())
reading_average = round(data_complete["reading_score"].mean())

students_passing_math = data_complete[data_complete["math_score"] >= 70].count()["student_id"]
students_passing_reading = data_complete[data_complete["reading_score"] >= 70].count()["student_id"]

percentage_students_passed_math = round((students_passing_math/total_students)*100,2)
percentage_students_passed_reading = round((students_passing_reading/total_students)*100,2)

overall_passing_rate = (percentage_students_passed_math + percentage_students_passed_reading)/2

d = {"Summary":["Total Schools", "Total Students", "District Budget", "District Passing Rate"],
    " ":[total_schools, total_students, district_budget, overall_passing_rate]}

d2 = {"Summary": ["Average Grade", "Passing Students"],
      "Math": [math_average, percentage_students_passed_math],
      "Reading": [reading_average, percentage_students_passed_reading]}
district_summary = pd.DataFrame(d)
education_summary = pd.DataFrame(d2)

In [724]:
schools_name = data_complete["school_name"]
school_type = schools_data.set_index(["school_name"])["type"]   
total_students_per_school = data_complete.groupby(["school_name"]).mean()["size"]
budget_per_school = data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_student = budget_per_school/total_students_per_school

math_average_score_per_school = round(data_complete.groupby(["school_name"]).mean()["math_score"],2)
reading_average_score_per_school = round(data_complete.groupby(["school_name"]).mean()["reading_score"],2)

students_passed_math = data_complete[(data_complete["math_score"]>=70)]
students_passed_math_per_school = students_passed_math.groupby(["school_name"]).count()["student_id"]

students_passed_reading = data_complete[(data_complete["reading_score"]>=70)]
students_passed_reading_per_school = students_passed_reading.groupby(["school_name"]).count()["student_id"]

percentage_passed_math_per_school = round((students_passed_math_per_school/total_students_per_school)*100,2)
percentage_passed_reading_per_school = round((students_passed_reading_per_school/total_students_per_school)*100,2)

overall_passed_rate_per_school = (percentage_passed_math_per_school + percentage_passed_reading_per_school)/2

d3 = {
      "School Type":school_type, 
      "Number of Students": total_students_per_school, 
      "Budget per School":budget_per_school, 
      "Budget per Student":budget_per_student,
      "Average Math Score": math_average_score_per_school,
      "Average Reading Score":reading_average_score_per_school,
      "% Passing Math": percentage_passed_math_per_school,
      "% Passing Reading": percentage_passed_reading_per_school,
      "% Overall Passing Rate":overall_passed_rate_per_school
      }

school_summary = pd.DataFrame(d3)

## District Summary

In [725]:
district_summary

                 Summary
0          Total Schools  1.500000e+01
1         Total Students  3.917000e+04
2        District Budget  2.464943e+07
3  District Passing Rate  8.039500e+01

In [726]:
education_summary

            Summary   Math  Reading
0     Average Grade  79.00    82.00
1  Passing Students  74.98    85.81

## School Summary

In [727]:
school_summary

,School Type,Number of Students,Budget per School,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976.0,3124928.0,628.0,77.05,81.03,66.68,81.93,74.305
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.06,83.98,94.13,97.04,95.585
Figueroa High School,District,2949.0,1884411.0,639.0,76.71,81.16,65.99,80.74,73.365
Ford High School,District,2739.0,1763916.0,644.0,77.10,80.75,68.31,79.30,73.805
Griffin High School,Charter,1468.0,917500.0,625.0,83.35,83.82,93.39,97.14,95.265
Hernandez High School,District,4635.0,3022020.0,652.0,77.29,80.93,66.75,80.86,73.805
Holden High School,Charter,427.0,248087.0,581.0,83.80,83.81,92.51,96.25,94.380
Huang High School,District,2917.0,1910635.0,655.0,76.63,81.18,65.68,81.32,73.500
Johnson High School,District,4761.0,3094650.0,650.0,77.07,80.97,66.06,81.22,73.640
Pena High School,Charter,962.0,585858.0,609.0,83.84,84.04,94.59,95.95,95.270
Rodriguez High School,District,3999.0,2547363.0,637.0,76.84,80.74,66.37,80.22,73.295
Shelton High School,Charter,1761.0,1056600.0,600.0,83.36,83.73,93.87,95.85,94.860
Thomas High School,Charter,1635.0,1043130.0,638.0,83.42,83.85,93.27,97.31,95.290
Wilson High School,Charter,2283.0,1319574.0,578.0,83.27,83.99,93.87,96.54,95.205
Wright High School,Charter,1800.0,1049400.0,583.0,83.68,83.96,93.33,96.61,94.970

## Top 5 Performing Schools (By Passing Rate)

In [734]:
top_schools = school_summary.sort_values(by="% Overall Passing Rate", ascending=False)
top_schools.head(5)

#budget_per_school.map("${:,.2f}".format)

,School Type,Number of Students,Budget per School,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.06,83.98,94.13,97.04,95.585
Thomas High School,Charter,1635.0,1043130.0,638.0,83.42,83.85,93.27,97.31,95.290
Pena High School,Charter,962.0,585858.0,609.0,83.84,84.04,94.59,95.95,95.270
Griffin High School,Charter,1468.0,917500.0,625.0,83.35,83.82,93.39,97.14,95.265
Wilson High School,Charter,2283.0,1319574.0,578.0,83.27,83.99,93.87,96.54,95.205

## Worst 5 Performing Schools (By Passing Rate)

In [733]:
bottom_schools = school_summary.sort_values(by="% Overall Passing Rate", ascending=True)
bottom_schools.head(5)

,School Type,Number of Students,Budget per School,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999.0,2547363.0,637.0,76.84,80.74,66.37,80.22,73.295
Figueroa High School,District,2949.0,1884411.0,639.0,76.71,81.16,65.99,80.74,73.365
Huang High School,District,2917.0,1910635.0,655.0,76.63,81.18,65.68,81.32,73.500
Johnson High School,District,4761.0,3094650.0,650.0,77.07,80.97,66.06,81.22,73.640
Ford High School,District,2739.0,1763916.0,644.0,77.10,80.75,68.31,79.30,73.805

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757